@model JALLPITASBAdmin.Models.Carpeta

@{
    ViewData["Title"] = "Create";
}

<div class="card shadow mb-4">
    <div class="card-header py-3 bg-gradient-primary">
        <h6 class="m-0 font-weight-bold text-white">Registro de procesos</h6>
    </div>

    <div class="card-body p-0">
        <!-- Nested Row within Card Body -->
        <div class="row">
            @*<div class="col-lg-5 d-none d-lg-block bg-register-image"></div>*@
            <div class="col-lg-12">
                <div class="p-5">
                    @*<div class="text-center">
                            <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
                        </div>*@
                    <form class="user needs-validation" novalidate" asp-action="Create">
                        <div class="form-group row">
                            <div class="col-sm-6 mb-3 mb-sm-0">
                                <input asp-for="IDCarpeta" type="number" class="form-control form-control-user" id="exampleFirstName" placeholder="ID Carpeta" required>
                                @*<span asp-validation-for="IDCarpeta" class="text-danger"></span>*@
                                @*<div class="invalid-tooltip">
                                        Looks good!
                                    </div>*@
                            </div>
                        </div>
                        <div class="form-group">
                            <input asp-for="AgrupacionSocial" type="text" class="form-control form-control-user" id="exampleInputEmail" placeholder="Agrupacion Social" required>
                            @*<span asp-validation-for="AgrupacionSocial" class="text-danger"></span>*@
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-4">
                                <input asp-for="Cuerpos" type="number" class="form-control form-control-user" id="exampleLastName" placeholder="Cuerpos" required>
                                @*<span asp-validation-for="Cuerpos" class="text-danger"></span>*@
                            </div>
                            <div class="col-sm-4 mb-3 mb-sm-0">
                                <input asp-for="Fojas" type="number" class="form-control form-control-user" id="exampleInputPassword" placeholder="Fojas" required>
                                @*<span asp-validation-for="Fojas" class="text-danger"></span>*@
                            </div>
                            <div class="col-sm-4">
                                <input asp-for="Poligono" type="number" class="form-control form-control-user" id="exampleRepeatPassword" placeholder="Poligono" required>
                                @*<span asp-validation-for="Poligono" class="text-danger"></span>*@
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-4">
                                <select asp-for="DepartamentoId" type="text" class="form-control form-control-range" asp-items="ViewBag.DepartamentoId" placeholder="Departamento" required>
                                    <option selected="selected" value="" disabled>--Seleccione un departamento--</option>
                                </select>
                                @*<span asp-validation-for="Cuerpos" class="text-danger"></span>*@
                            </div>
                            <div class="col-sm-4 mb-3 mb-sm-0">
                                <select asp-for="ProvinciaId" type="text" class="form-control form-control-range" asp-items="ViewBag.ProvinciaId" placeholder="Provincia" required>
                                    <option selected="selected" value="" disabled>--Seleccione la provincia--</option>
                                </select>
                                @*<span asp-validation-for="Fojas" class="text-danger"></span>*@
                            </div>                            
                            <div class="col-sm-4">
                                <select asp-for="MunicipioId" type="text" class="form-control form-control-range" asp-items="ViewBag.MunicipioId" placeholder="Municipio" required>
                                    <option selected="selected" value="" disabled>--Seleccione el municipio--</option>
                                </select>
                                @*<span asp-validation-for="Poligono" class="text-danger"></span>*@
                            </div>
                        </div>
                        <div class="form-group">
                            <input asp-for="Observaciones" type="text" class="form-control form-control-user" id="exampleRepeatPassword" placeholder="Observaciones">
                            @*<span asp-validation-for="Observaciones" class="text-danger"></span>*@
                        </div>

                        <div class="form-group">
                            <input type="submit" value="Crear nuevo proceso" class="btn btn-primary btn-user btn-block" />
                        </div>

                        <hr>
                        <a asp-action="Index" class="btn btn-google btn-user btn-block">
                            <i class="fab fa-google fa-fw"></i> Volver a la Lista
                        </a>
                        @*<div>
                                <a asp-action="Index">Back to List</a>
                            </div>*@
                        <a href="index.html" class="btn btn-facebook btn-user btn-block">
                            <i class="fab fa-facebook-f fa-fw"></i> Register with Facebook
                        </a>
                    </form>
                    <hr>
                    <div class="text-center">
                        <a class="small" href="forgot-password.html">Forgot Password?</a>
                    </div>
                    <div class="text-center">
                        <a class="small" href="login.html">Already have an account? Login!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @*</div>*@
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function () {
        'use strict';
        window.addEventListener('load', function () {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();
</script>
<script src="~/js/Carpetas/Carpetas.js"></script>